body {
  font-family: 'Catamaran', sans-serif;
}

h1 {
  font-size: 80px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
.subtext {
  font-size: 15px;
  font-weight: 300;

}

section {
  background-color: white;
  
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

/* Nav Bar Styling  */

nav {
  display: flex;
  justify-content: space-between;
}

.hero {
  background-color: #1d213a;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 300px;
}

.hero-area {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

/* Buttons  */

.button {
  width: 200px;
  height: 55px;
  background-color: #857fff;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #abaab6;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}


/* personal logo*/
.logo {
  height: 200px;
  margin: 30px;
}

/* social logos*/
.git-social {
  margin: 20px;
}

.link-social {
  margin: 20px;
}

/* personal info section*/
.headshot-container {
  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

/* project cards*/

.project-card {
  width: 200px;
  height: 375px;
  box-shadow: 5px 5px 20px #808080;
  margin: 10px;
  
}

.project-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}



.project-image {
  width: 300px;
  border-radius: 125;
  margin-top: 25px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: 857fff;
}


footer {
  padding: 80px;
  background-color: black;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
  }

  ul {
    display: none;
  }

}
